.advantages {
  background: #ffffff;
  width: 375px;
  height: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.advantages-container {
  padding: 60px 20px;
}

.advantages-title {
  font-family: Raleway;
  width: 248px;
  color: #262442;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.advantages-content {
  width: 335px;
  height: 162px;
  margin-bottom: 30px;
  border-radius: 18px;
  position: relative;
}

.advantages-content__one {
  background: url("../images/advantages/block-one.png"),
    linear-gradient(
      221.45deg,
      #aa21ff -6.42%,
      #cb78ff 7.81%,
      #c76cff 37.51%,
      #c268ff 59.49%,
      #9984ff 83.95%,
      #9883ff 112.37%
    );
  background-blend-mode: multiply;
}
.advantages-content__two {
  background: url("../images/advantages/block-two.png"),
    linear-gradient(
      221.45deg,
      #aa21ff -6.42%,
      #cb78ff 7.81%,
      #c76cff 37.51%,
      #c268ff 59.49%,
      #9984ff 83.95%,
      #9883ff 112.37%
    );
  background-blend-mode: multiply;
}
.advantages-content__three {
  background: url("../images/advantages/block-three.png"),
    linear-gradient(
      221.45deg,
      #aa21ff -6.42%,
      #cb78ff 7.81%,
      #c76cff 37.51%,
      #c268ff 59.49%,
      #9984ff 83.95%,
      #9883ff 112.37%
    );
  background-blend-mode: multiply;
}

.advantages-content__one::after {
  content: url("../images/advantages/list.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

.advantages-content__two::after {
  content: url("../images/advantages/def.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

.advantages-content__three::after {
  content: url("../images/advantages/gear.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

.advantages-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  width: 230px;
  background-blend-mode: color;
  padding-top: 44px;
  padding-left: 27px;
}

@media (min-width: 768px) {
  .advantages {
    background: #ffffff;
    display: grid;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    padding-left: 120px;
    padding-bottom: 120px;
    align-items: start;
    justify-items: start;
    justify-content: start;
  }

  .advantages-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    max-width: 1152px;
    padding: 0;
  }

  .advantages-content__one {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .advantages-content__two {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .advantages-content__three {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .advantages-title {
    width: 602px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }

  .advantages-content {
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
    border-radius: 18px;
  }

  .advantages-text {
    width: 100%;
    padding: 50px 85px 64px 30px;
    font-size: clamp(12px, 1.5vw, 18px);
    font-weight: 400;
    line-height: 21px;
  }
}
