.footer {
  width: 375px;
  height: 267px;
  background: #262442;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 30px;
  width: 49px;
  height: 62px;
}

.footer-text {
  margin: 0;
}

.footer-menu {
  display: none;
}

@media (min-width: 768px) {
  .footer-container {
    display: none;
  }

  .footer {
    width: 100%;
    height: 182px;
    padding: 60px 120px;
    display: grid;
    grid-template-columns: 1fr 72px;
    gap: 270px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-menu {
    max-width: 800px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
  }

  .footer-social {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .footer-menu-item {
    max-width: 83px;
  }

  .footer-item-phone {
    content: url("../images/footer/phone.svg");
  }

  .footer-item-tg {
    content: url("../images/footer/tg.svg");
  }

  .footer-item-vk {
    content: url("../images/footer/vk.svg");
  }
}
