.home {
  width: 100%;
  height: 775px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  background-image: url("../images/china.png");
  background-position: 58% 60%;
  position: relative;
  padding-top: 160px;
}

.home-container {
  width: 315px;
  height: 377px;

  border: 1px solid #ffffff40;
  background: #ffffff59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  backdrop-filter: blur(10px);
}

.home-title {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  width: 246px;
  height: 88px;
  word-break: break-all;
  padding-left: 20px;
  margin-bottom: 30px;
}
.home-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 20px;
}
.home-footer {
  padding-left: 20px;
}

.btn-home {
  width: 160px;
  height: 45px;
  color: #ffffff;
  border-radius: 10px;
  background: linear-gradient(
    229.99deg,
    #ba38ff -2.16%,
    #af2eff 16.16%,
    #9e00ff 51.38%,
    #5532ff 71.26%,
    #5431ff 79.66%,
    #5430ff 93.81%
  );
  cursor: pointer;
}

.burger {
  position: absolute;
  top: 40px;
  right: 20px;
  background-image: url("../images/burger.svg");
  width: 35px;
  height: 20px;
  cursor: pointer;
}

.services {
  width: 54px;
  height: 123px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
}

.services-block {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: linear-gradient(
    237.04deg,
    #aa21ff 4.33%,
    #cb78ff 24.5%,
    #c76cff 47.56%,
    #c268ff 69.19%,
    #9984ff 93.26%,
    #9883ff 121.23%
  );
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.services-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: left center;
}

.needhelp {
  padding: 15px 20px;
  opacity: 1;
  display: block;
}

.services-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-family: Raleway;
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  width: 250px;
  height: 19px;
  text-transform: uppercase;
  margin-right: 11px;
}

.services-block-help:hover {
  width: 300px;
  border-radius: 30px;
  right: 246px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.services-block-help:hover .services-text {
  opacity: 1;
}

.needhelp:hover {
  opacity: 0;
  display: none;
  color: inherit;
}

.close-bot {
  opacity: 0;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 23px;
  right: 10px;
  cursor: pointer;
}

.services-block-help .needhelp {
  display: block;
}

.services-block-help:hover .needhelp {
  display: none;
}

.services-block-help .close-bot {
  display: none;
}

.services-block-help:hover .close-bot {
  display: block;
}

@media (min-width: 1024px) {
  .home {
    width: 100%;
    display: grid;
    background: url("../images/china.png"),
      linear-gradient(
        94.52deg,
        rgba(255, 255, 255, 0.88) 15.62%,
        rgba(255, 255, 255, 0) 78.84%
      );
    background-blend-mode: color;
    background-size: cover;
  }

  .burger {
    display: none;
  }

  .home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "text"
      "footer";
    width: 476px;
    height: 240px;
    margin-left: 126px;
    border: none;
    background: none;
    backdrop-filter: none;
    gap: 30px;
  }

  .home-title {
    grid-area: title;
    width: 100%;
    height: 60px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .home-text {
    grid-area: text;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    width: 476px;
    height: 75px;
    padding: 0;
    margin: 0;
  }

  .social-icons {
    grid-area: text;
    display: flex;
    justify-content: space-between;
  }

  .home-footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  .btn-home {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    margin-right: 30px;
  }

  .home-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .home-item {
    cursor: pointer;
  }
  .home-item-phone::after {
    content: url("../images/social/phone.svg");
  }
  .home-item-tg::after {
    content: url("../images/social/telegram.svg");
  }
  .home-item-vk::after {
    content: url("../images/social/vkontakte.svg");
  }
}
