.modal {
  width: 100%;
  height: 773px;
  margin: 0 auto;
  background: #262442;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 51px;
  padding-top: 60px;
  display: none;
  padding: 60px 0 46px 50px;
}

.close-modal {
  width: 25px;
  height: 25px;
  background-image: url("../images/close.svg");
  background-size: cover;
  cursor: pointer;
}
.modal-list {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 20px;
  margin-top: 125px;
  margin-bottom: 130px;
}

.modal-social-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}

.modal-btn {
  width: 103.9px;
  height: 28px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    229.99deg,
    #ba38ff -2.16%,
    #af2eff 16.16%,
    #9e00ff 51.38%,
    #5532ff 71.26%,
    #5431ff 79.66%,
    #5430ff 93.81%
  );
  color: #ffffff;
}

.modal-item {
  position: relative;
}

.modal-link::after {
  content: url("../images/arrow-down.svg");
  margin-left: 10px;
  position: absolute;
  top: -3px;
}

.modal-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #262442;
  padding: 10px;
  z-index: 1;
  border: 1px solid #ffffff66;
  border-radius: 5px;
}

.modal-dropdown-item {
  display: block;
}

.modal-item:hover .modal-dropdown {
  display: block;
}
.dropdow-link {
  display: block;
  color: #ffffff;
  padding: 10px 10px;
  text-decoration: none;
}

.dropdow-link:hover {
  background: linear-gradient(
    229.99deg,
    #ba38ff -2.16%,
    #af2eff 16.16%,
    #9e00ff 51.38%,
    #5532ff 71.26%,
    #5431ff 79.66%,
    #5430ff 93.81%
  );
}
