/* body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 70px;
  background: #262442;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 124px;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
}

.logo {
  padding: 0;
  margin: 0;
  width: 47px;
  height: 62px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
}

.auth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.localization {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.search {
  width: 28px;
  height: 28px;
}

.localization-item {
  list-style-type: none;
}

.link-auth {
  color: #ffffff;
  text-decoration: none;
  margin-right: 19px;
}

.btn-login {
  width: 104px;
  height: 28px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    229.99deg,
    #ba38ff -2.16%,
    #af2eff 16.16%,
    #9e00ff 51.38%,
    #5532ff 71.26%,
    #5431ff 79.66%,
    #5430ff 93.81%
  );
}

.home {
  height: calc(100vh - 70px);
  background-image: url("./images/china.png");
  background-size: cover;
  background-position: center;
}

.home-description {
  width: 476px;
  height: 240px;
  padding: 174px 126px;
}

.home-title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  margin-bottom: 25px;
}
.home-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: #262442;
  margin-top: 0;
  margin-bottom: 30px;
}

.home-footer {
  display: flex;
  flex-direction: row;
}

.btn-home {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    229.99deg,
    #ba38ff -2.16%,
    #af2eff 16.16%,
    #9e00ff 51.38%,
    #5532ff 71.26%,
    #5431ff 79.66%,
    #5430ff 93.81%
  );
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.home-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 10px;
}
.home-item {
  width: 23px;
  height: 23px;
}
.home-link {
  cursor: pointer;
} */
